body {
	background-color: black;
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
}


#titleLabel {
	font-weight: normal;
}

table {
	border-collapse: collapse;
	margin: 15px 0;
	border-radius: 7px;
	overflow: hidden;
	width: 100%;
}

td,
th {
	border: 0px solid #032f3e;
	text-align: left;
	padding: 10px 5px;
}

td img{
	text-align: right;
}

#titlePaper {
	font-family: 'Open Sans', sans-serif; font-size: 10px;
	padding: 8px 0;
	color: black;
	text-align: center;
}

a {
	color: black;
}

#secret,
#public {
	font-family: monospace;
	font-weight: bold;
	color: #032f3e;
}

#public{
	font-size: 18px;
	text-align: left;
	color: #008000
}

#secret{
	font-size: 14px;
	text-align: right;
	color: red
}

#secret_qr,
#public_qr {
	height: 130px;
}

.secret_qr img{
	float: right !important;
}

#secret,
#secretLabel,
#secret_qr {
	text-align: right;
	float: right;
}

#secretLabel{
	float: right;
}

#shareColor {
	color: green;
}

#secretColor {
	color: red;
}

#update {
	display: inline-block;
}

@media only screen and (max-width: 640px) {
	#secret,
	#public {
		font-size: 10px;
	}
}

@media print {
	.noprint {
		display: none;
	}
}
.b1{

	border: none;
    outline: none;
    color: #fff;
    padding: 8px;
    font-size: 19px;
    font-weight: 500;
    margin: 1.3em 0 0;
    cursor: pointer;
    -webkit-appearance: none;
    background: black
}

.b1:hover {
	background-color: black;
  }